
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h3>Home</h3>
<form action="#" th:action="@{/login}" method="post" novalidate="novalidate" th:object="${login}">
    <fieldset>
        <legend>Login</legend>
        <table>
            <tr>
                <td><label >Account:</label></td>
                <td><input type="text" th:field="*{account}" /></td>
            </tr>
            <tr>
                <td><label path="password">Password:</label></td>
                <td><input type="text" th:field="*{password}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login"></input></td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>